<div class="topnav">
  <a href="#home" class="active" style="padding-left:80px">OCR</a>
  <div id="myLinks">
    <a href="#news">Image Tracking</a>
    <a href="#contact">Ground Tracking</a>
    <a href="#facerec">Product Information</a>
    <a href="#facerec">Face Recognition</a>
    <a href="#facerec">Face Emotion Detection</a>
    <a href="#facerec">Pharmaceutical Drug info</a>
    <a href="#facerec">Find it on the Map</a>
    <a href="#facerec">Location Based Content</a>
    <a href="#facerec">Try Body Poses</a>
    <a href="#facerec">Language Translation</a>
  </div>
  <a href="javascript:void(0);" class="icon" (click)="onClick()">
    <i class="fa fa-bars"></i>
  </a>
</div>
