<div class="topnav">
  <!-- <img src="src/assets/Instancy HD Logo-800 (White-color) 1.png" > -->
  <a id="home" href="#home" class="active" style="padding-left:80px">Optical Character Recognition</a>
  <div id="myLinks">

    <a (click)="someActin()">Image Tracking</a>
    <a (click)="ground()">Ground Tracking</a>
    <a  (click)="product()" >Product Information</a>
    <a  (click)="someAction()" >Face Recognition</a>
    <a  (click)="emotion()" >Face Emotion Detection</a>
    <a  (click)="pharma()" >Pharmaceutical Drug info</a>
    <a  (click)="map()" >Find it on the Map</a>
    <a  (click)="location()" >Location Based Content</a>
    <a  (click)="poses()" >Try Body Poses</a>
    <a  (click)="translate()" >Language Translation</a>
  </div>
  <a href="javascript:void(0);" class="icon" (click)="onClick()">
    <i class="fa fa-bars"></i>
  </a>
</div>
