#results-section {
    display: flex;
    flex-direction: column;
}

#question-input{
    resize: none;
}

#button-container {
    position: relative;
    flex: 1;
}

#snippets-container {
    overflow-y: scroll;
    height: calc(100% - 96px);
}

#answer-headers-container {
    height: 64px;
}

.snippet {
    font-size: 14px;
    white-space: pre-wrap;
    word-break: break-word;
}

.answer-match {
    font-size: 16px;
    font-weight: bolder;
    color: red;
}

#images-container {
    overflow-y: scroll;
}

.img-container {
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-count: 3;
    -moz-column-gap:0px;
    column-count: 3;
    column-gap: 0px;  
}

img {
    width: 100% !important;
    height: auto !important;
}