#question-form, #results-section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#question-input{
    resize: none;
}

#button-container {
    position: relative;
    flex: 1;
    height: 100%;
}

#button-container > .btn {
    position: absolute;
    bottom: 0;
}

.snippet {
    font-size: 14px;
    white-space: pre-wrap;
}

.snippet .match {
    font-size: 16px;
    font-weight: bolder;
}