<div class="page">
  <div id="results-section" class="h-100">
    <p>{{question}}</p>
    <div class="row h-100">
      <div class="col-4">
        <table class="table h-25">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Answer</th>
              <th scope="col">Likelihood</th>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>{{answers[0]}}</td>
              <td><i *ngIf="!isAnswerLoaded(0)" 
                class="fa fa-spinner fa-spin"></i>
                {{likelihood[0]}}</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>{{answers[1]}}</td>
              <td><i *ngIf="!isAnswerLoaded(1)" 
                class="fa fa-spinner fa-spin"></i>
                {{likelihood[1]}}</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>{{answers[2]}}</td>
              <td><i *ngIf="!isAnswerLoaded(2)" 
                class="fa fa-spinner fa-spin"></i>
                {{likelihood[2]}}</td>
            </tr>
          </tbody>
        </table>
        <div id="images-container" class="row h-75 m-1">
          <div id="answer-images">
            <div class="img-container">
              <img *ngFor="let src of dedupedImages" [src]="src" class="m-1">
            </div>
          </div>
        </div>
      </div>
      <div id="text-results" class="col-8 h-100">
        <div id="answer-headers-container" class="row m-1">
          <h3 class="col-4">{{answers[0]}}</h3>
          <h3 class="col-4">{{answers[1]}}</h3>
          <h3 class="col-4">{{answers[2]}}</h3>
        </div>
        <div id="snippets-container" class="row m-1">
          <div id="answer1-snippets" class="col-4">
            <i *ngIf="!isAnswerLoaded(0)" class="fa fa-spinner fa-spin"></i>
            <div class="snippet" [innerHtml]="snippets[0]"><i *ngIf="!isAnswerLoaded(0)" 
              class="fa fa-spinner fa-spin"></i></div>
          </div>
          <div id="answer2-snippets" class="col-4">
            <i *ngIf="!isAnswerLoaded(1)" class="fa fa-spinner fa-spin"></i>
            <div class="snippet" [innerHtml]="snippets[1]"><i *ngIf="!isAnswerLoaded(1)" 
              class="fa fa-spinner fa-spin"></i></div>
          </div>
          <div id="answer3-snippets" class="col-4">
            <i *ngIf="!isAnswerLoaded(2)" class="fa fa-spinner fa-spin"></i>
            <div class="snippet" [innerHtml]="snippets[2]"><i *ngIf="!isAnswerLoaded(2)" 
              class="fa fa-spinner fa-spin"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div id="button-container" class="h-100 mt-2">
      <button type="submit" class="btn btn-primary btn-block" (click)="returnToCamera()"
        >Restart</button>
    </div>
  </div>
</div>