<div class="page">
  <div id="results-section">
    <p>{{question}}</p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Answer</th>
          <th scope="col">Likelihood</th>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>{{answers[0]}}</td>
          <td><i *ngIf="!isAnswerLoaded(0)" 
            class="fa fa-spinner fa-spin"></i>
            {{likelihood[0]}}</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>{{answers[1]}}</td>
          <td><i *ngIf="!isAnswerLoaded(1)" 
            class="fa fa-spinner fa-spin"></i>
            {{likelihood[1]}}</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>{{answers[2]}}</td>
          <td><i *ngIf="!isAnswerLoaded(2)" 
            class="fa fa-spinner fa-spin"></i>
            {{likelihood[2]}}</td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div id="answer1-snippets" class="col-4">
        <h3>{{answers[0]}}</h3>
        <i *ngIf="!isAnswerLoaded(0)" class="fa fa-spinner fa-spin"></i>
        <div class="snippet" [innerHtml]="snippets[0]"><i *ngIf="!isAnswerLoaded(0)" 
          class="fa fa-spinner fa-spin"></i></div>
      </div>
      <div id="answer2-snippets" class="col-4">
        <h3>{{answers[1]}}</h3>
        <i *ngIf="!isAnswerLoaded(1)" class="fa fa-spinner fa-spin"></i>
        <div class="snippet" [innerHtml]="snippets[1]"><i *ngIf="!isAnswerLoaded(1)" 
          class="fa fa-spinner fa-spin"></i></div>
      </div>
      <div id="answer3-snippets" class="col-4">
        <h3>{{answers[2]}}</h3>
        <i *ngIf="!isAnswerLoaded(2)" class="fa fa-spinner fa-spin"></i>
        <div class="snippet" [innerHtml]="snippets[2]"><i *ngIf="!isAnswerLoaded(2)" 
          class="fa fa-spinner fa-spin"></i></div>
      </div>
    </div>
    <div id="button-container">
        <button type="submit" class="btn btn-primary btn-block" (click)="returnToCamera()"
          >Restart</button>
      </div>
  </div>
</div>