<div id="camera-container">
  <p id="text">
    Point the camera to the image of a product or an object to learn more about that product
  </p>

  <webcam id="camera" [width]="maxCameraWidth" [height]="maxCameraHeight"
    *ngIf="showCamera" (imageCapture)="handleImage($event)"
    [trigger]="triggerObservable"></webcam>
    <img *ngIf="!showCamera" [src]="cameraImage.imageAsDataUrl"/>
    <i *ngIf="!showCamera" class="fa fa-spinner fa-spin"></i>
  <button id="camera-button" class="btn btn-light" (click)="takePicture()"
    *ngIf="showCamera">
    <i class="fa fa-camera fa camera"></i>  Photo</button>

    <button id="cancel-button" class="btn btn-light" (click)="returnToCamera()"
    *ngIf="!showCamera">
    <i class="fa fa-close fa close"></i> Clear</button>

    <button id="cance-button" class="btn btn-light" *ngIf="showCamera"
    > Clear</button>
</div>

<div id="result-container">
<p id="label">Product Recognized</p>
<p id="result"></p>
<a id="link" >Product link</a>

</div>